<!DOCTYPE html>
<html lang='en' style="background: url(../static/img/mc1.jpg) center no-repeat; background-size: cover;"></html>>
    <title>Choose</title>
    <head>
        <link href="../static/main.css" rel="stylesheet">
    </head>
        <body>
            <div class="MicroControllers">
                <h1 style="text-align: center; color: white;">Choose one based on your level</h1>
                <h2 style="text-align: center; color: white; font-weight: 500;"> &#8595 </h2>
                <form> <!--action="input.html"--->
                    <button>Beginner</button>
                </form>
                <form > <!--action="input.html"--->
                    <button>Intermediate</button>
                </form>
                <form> <!--action="input.html"--->
                    <button>Advanced</button>
                </form>
            </div>
        </body>
</html>