<!DOCTYPE html>
<html lang='en'>
    <title>Login page</title>
    <head>
        <link href="static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1> Hi there!<br>Welcome to Learning Paths! </h1>
            <h3>Log-in to the website </h3>
            <form action="{{ url_for('course')}}" method="POST">
                <input title="Enter your email address" placeholder="Enter your email address" type="email" name="email_name" required><br>
                <input style="margin-bottom: 20px;" title="Enter your password" placeholder="Enter your password" type="password" name="password" required><br>
                <button type="submit">Submit</button>
                <a href="{{ url_for('home')}}" style="color: rgb(88, 88, 88);">Back to Log-in?</a>
            </form>
        </div>
    </body>
</html>